@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>
    The Levenshtein distance is a number that tells you how different two strings are. The higher the number, the more different the two strings are.

    For example, the Levenshtein distance between “kitten” and “sitting” is 3 since, at a minimum, 3 edits are required to change one into the other.

    kitten → sitten (substitution of “s” for “k”)
    sitten → sittin (substitution of “i” for “e”)
    sittin → sitting (insertion of “g” at the end).
</p>
