@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    25 A Durga <br />
    Charan Doctor Road, Kolkata-700014<br />
    <abbr title="Mobile">M:</abbr>
    +919831058396
</address>

<address>
    <strong>Support:</strong> <a href="mailto:anand_shah06@outlook.com">anand_shah06@outlook.com</a><br />
</address>
