<h3>Token</h3>
<hr />
<div class="row">
    <div class="col-xs-12 text-center">
        <a id="hylGetJwtToken" asp-action="GetJwtToken" class="btn btn-primary">Setup token and access the application</a>
    </div>
</div>
